img#card_image(src="/cards/"+card_info.shortname+"/"+card_info.image_name)

div#card_info
    p
        b #{card_info.name} 
        if card_info.mana 
            -
            #{card_info.mana} 
        if card_info.cmc 
            i ( #{card_info.cmc} )
        br
        #{card_info.rarity} 
        #{card_info.type} 
        br
        br
        != card_info.rules_text
    hr
    if card_usage.total_seen > 0 
        p
            span This card has been seen in #{card_usage.total_seen} recorded decks.
            br
            br
            span usage: 
            span 
                input.flot_option(type="checkbox",name="Standard",checked="true")
                label Standard
                input.flot_option(type="checkbox",name="Legacy",checked="true")
                label Legacy
                input.flot_option(type="checkbox",name="Modern",checked="true")
                label Modern
                input.flot_option(type="checkbox",name="Pauper",checked="true")
                label Pauper
            div#usage_placeholder
            br
        hr
        p 
            if filter_format_name
                - var formats = [ 'All Formats', 'Standard', 'Legacy', 'Modern', 'Pauper' ]
                span You are currently viewing card relationships for the 
                b #{filter_format_name} 
                | format.  You can also select: 
                br
            else 
                - var formats = [ 'Standard', 'Legacy', 'Modern', 'Pauper' ]
                span Viewing usage statistics for 
                b all formats 
                | - Limit these results to a certain format: 
                br
            each format in formats
                if format != filter_format_name
                    if format == 'All' 
                        a.link(href="/card/id/"+card_info.id)= format
                    else
                        a.link(href="/card/id/"+card_info.id+"/format/"+format)= format
        p
            span This card is most often played with these cards:
            br
            span(style='font-size:10px;font-style:italic') ( % represents the percentage of decks which contain #{card_info.name} AND the listed card )
            each relation in relation_info
                div.relation_card 
                    span #{relation.name}  
                    br
                    span 
                        b #{relation.percentage}%
                    a(href="/card/id/"+relation.second_card_id)
                        img.relation_card_img(src="/cards/"+relation.shortname+"/"+relation.image_name)
    else 
        p

            span This card has not been recorded in any decks.


script
    var data = !{card_daily_usage_data};
    var color_i = 0;
           
    init_graph_options();
    render_daily_stats();

