- title = event_info.name + " " + event_info.date

    p 
        b
            #{event_info.name} ##{event_info.mtgo_id} on #{event_info.date}
        hr
        table.event_table 
            each event_player in event_players_info
                tr
                    td= event_player.player_name
                    if( event_info.rank )
                        td= event_player.rank
                    if( event_player.wins > -1 && event_player.losses > -1 )
                        td #{event_player.wins} - #{event_player.losses}
                    td
                        a.link(href="/deck/"+event_player.deck_id) View Deck

