- title = event_info.name + " " + event_info.date

    p 
        b
            #{event_info.name} ##{event_info.mtgo_id} on #{event_info.date}
        hr
        table.event_table 
            tr
                th(style="width:150px") Player Name
                th(style="width:125px") Rank/Record
                th(style="width:150px") Deck Archetype
            each event_player in event_players_info
                tr
                    td= event_player.player_name
                    if( event_player.rank )
                        td= event_player.rank
                    else if( event_player.wins >= 0 && event_player.losses >= 0 )
                        td #{event_player.wins} - #{event_player.losses}
                    else 
                        td Unknown
                    if( event_player.archetype_name )
                        td 
                            a.link.novisit(href="/archetype/id/"+event_player.archetype_id,style="margin-left: 0px;")= event_player.archetype_name
                    else 
                        td Unknown #{event_player.archetype_name}
                    td
                        a.link(href="/deck/id/"+event_player.deck_id) View Deck

